<header>
  <h1>Wr Estética</h1>
  <div class="buttons-text">
    <p-button label="Agendamento" size="small" />
    <p-button label="Cadastrar cliente" size="small" />
    <p-button label="Formulários" size="small" />
    <p-button (mousemove)="finalizarSessao()" label="Sair" [style]="{ color: 'red' }" [link]="true" />
  </div>

  <div class="buttons-icon">
    <p-button icon="pi pi-ellipsis-v" (click)="menu.toggle($event)"></p-button>
    <p-menu #menu [popup]="true" [model]="menuItems"></p-menu>
  </div>
</header>

<div class="dashboard-container">
  <!-- Cards de Visão Geral -->

  <!-- Gráficos -->
  <p-card header="Vendas Mensais" class="charts">
      <p-chart type="line" [data]="lineChartData"></p-chart>
    </p-card>
 

  <!-- Tabela de Transações Recentes -->
  <div class="data-table">
    <p-card header="Transações Recentes" class="table-card">
      <p-table [value]="transactions" responsiveLayout="scroll">
        <ng-template pTemplate="header">
          <tr>
            <th>ID Transação</th>
            <th>Cliente</th>
            <th>Data</th>
            <th>Valor</th>
            <th>Status</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-transaction>
          <tr>
            <td>{{ transaction.id }}</td>
            <td>{{ transaction.customer }}</td>
            <td>{{ transaction.date }}</td>
            <td>{{ transaction.amount | currency }}</td>
            <td>{{ transaction.status }}</td>
            <p-tag [value]="transaction.status" [severity]="getSeverity(transaction.status)" />
          </tr>
        </ng-template>
      </p-table>
    </p-card>
  </div>

  
</div>
