<div class="container-login">
  <p-card header="Crie sua conta" [style]="{ color: '#3B82F6' }">
    <div class="card">
      <p-inputGroup>
        <p-inputGroupAddon> <i class="pi pi-user"></i> </p-inputGroupAddon>
        <input pInputText type="text" placeholder="Digite seu nome" />
      </p-inputGroup>
      <p-inputGroup>
        <p-inputGroupAddon> &#64; </p-inputGroupAddon>
        <input pInputText placeholder="Digite seu e-mail" />
      </p-inputGroup>

      <div
        style="
          display: flex;
          justify-content: space-between;
          align-items: center;
          text-align: center;
        "
      >
        <p-inputGroup>
          <p-inputGroupAddon> <i class="pi pi-lock"></i></p-inputGroupAddon>
          <input
            [type]="showPassword ? 'text' : 'password'"
            pInputText
            placeholder="Digite sua senha"
          />
          <i
            [pTooltip]="showPassword ? 'Ocultar senha' : 'Mostrar senha'"
            [class]="
              showPassword
                ? 'pi pi-eye-slash custom-icon'
                : 'pi pi-eye custom-icon'
            "
            (click)="mostrarSenha()"
          ></i>
        </p-inputGroup>
      </div>

      <div style="display: flex; width: 100%; box-sizing: border-box">
        <p-inputGroupAddon> <i class="pi pi-phone"></i></p-inputGroupAddon>
        <p-inputMask
          mask="(999) 9 9999-9999"
          placeholder="Digite seu telefone"
        />
      </div>

      <div
        style="
          display: flex;
          align-items: end;
          justify-content: end;
          margin: 0.5rem 0;
        "
      >
        <span style="font-weight: 600" (click)="fazerLogin()"
          >Já tem conta? Clique aqui</span
        >
      </div>
      <button
        pButton
        pRipple
        class="button"
        label="Criar conta"
        size="small"
        (click)="fazerCadastro()"
      ></button>
    </div>
  </p-card>
</div>
