.container-login {

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  height: 100vh;
  background: url('https://wallpapers.com/images/hd/conrad-maldives-rangali-island-beach-night-zkyi17hj60ehn9qa.jpg');
  background-size: cover; /* Faz a imagem cobrir todo o container */
  background-position: center; /* Centraliza a imagem */
  background-repeat: no-repeat;
}

.card {
  display: flex;
  gap: 2rem;
  flex-direction: column;
}

.button{
  width: 100%;
}
